@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
  --bg: #ac3434;
  --blue-primary: #3a89ff;
  --blue-secondary: #bb1b1b;

}

*{
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  background-color: var(--bg);
}

.App {
  text-align: center;
  background-color: #201f1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(47, 206, 182);
}

